/* Resetting */
*{
    margin: 0;
    padding: 0;
}

/* Main banner styles */
.main-banner{
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
}

.banner-container{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 100px;
}

.banner-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 63px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 32px 0px;
}

.banner-button{
    width: 170px;
    padding: 10px 32px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background-color: #E55473;
    cursor: pointer;
    border: none;
}

.banner-image{
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.top-banner-image{
    width: 75%;
}


/* Featured Flowers Styles */

.flowers-container{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    height: 600px;
}

.flowers-content{
    text-align: center;
    width: 37%;
    margin: auto;
}

.flowers-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-top: 15px;
}

.flower-boxes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}

.flower-info{
    width: 30%;
}

.flower-1{
    width: 100%;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/pngwing-6.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: bottom center;
}

.flower-2{
    width: 100%;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15); 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/pngwing-5.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center center;
}

.flower-3{
    width: 100%;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/pngwing-7.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: bottom center;
}

.flower-name{
    width: 100%;
    padding-top: 32px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
} 


/* Our services styles */
.Services{
    margin-top: 130px;
}

.services-container{
    width: 80%;
    height: 200px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
}

.service{
    width: 33%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.service img{
    width: 64px;
    margin: 0px auto;
}

.service-details{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    padding-top: 20px;
}

/* Hot deals styles */
.hot-deal{
    width: 100%;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
}

.deal-wrapper{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 60px 0px;
}

.deal-content{
    width: 50%;
    text-align: center;
}

.deal-content h2{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deal-content h2 span{
    color: #E55473;
}

.deal-content p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    width: 82%;
    margin: auto;
    font-weight: 400;
    padding-top: 14px;
    padding-bottom: 30px;
}

.deal-image{
    width: 50%;
    text-align: center;
}

.deal-image img{
    width: 45%;
}

/* Instagram section styles */
.instagram{
    margin-top: 100px;
    margin-bottom: 100px;
}

.insta-container{
    width: 80%;
    margin: auto;
}

.instagram-content{
    width: 50%;
    margin: auto;
    text-align: center;
}

.instagram-content h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.instagram-content p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 85%;
    margin: auto;
    padding-top: 17px;
}

.insta-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.insta-images img{
    width: 23%;
}


/* Customer review styles */
.customer-review{
    margin-top: 100px;
    background-color: #CAFAFE;
    padding: 70px 0px;
}
.review-container{
    width: 80%;
    margin: auto;
}

.review-title-desc{
    width: 50%;
    margin: auto;
    text-align: center;
}

.review-title-desc h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.review-title-desc p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 85%;
    margin: auto;
    padding-top: 17px;
}

.reviews{
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.review{
    width: 28%;
    background-color:  #9896A4;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.review-content{
    text-align: center;
}

.review-content p {
    color: #FFF;
    margin-top: 20px;
}

.review-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
}

.review-content h3{
    color: #FFF;
    margin-top: 10px;
}

.review-content h4{
    color: #FFF;
    margin-top: 5px;
    font-weight: normal;
}

.checked{
    color: orange;
}

.fa-star{
    font-size: 25px !important;
}

/* Newsletter styles */
.newsletter{
    margin-top: 100px;
    margin-bottom: 100px;
}

.newsletter-container{
    width: 80%;
    height: 350px;
    margin: auto;
    background-image: url("../images/Rectangle-9.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-content{
    width: 100%;
    text-align: center;
}

.newsletter-container h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
}

.newsletter-container p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 12px;
}

.newsletter-container form{
    padding-top: 40px;
}

.newsletter-container form input[type=text]{
    outline: none;
    border: none;
    height: 25px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    width: 42%;
}

.subscribe-button{
    width: 120px;
    padding: 10px 0px;
    margin-left: 15px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background-color: #E55473;
    cursor: pointer;
    border: none;
}

/* Footer styles */
.footer{
    width: 100%;
    background: #111010;
    display: flex;
}

.footer-container{
    width: 60%;
    padding: 100px 0px;
    margin: auto;
    text-align: center;
}

.footer-container h3{
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-container h3 span{
    color: #E55473;
}

.footer-content{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin: auto;
    margin-top: 25px;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
}
















