/* Resetting */
*{
    margin: 0;
    padding: 0;
}

/* Main banner styles */
.main-banner{
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
}

.banner-container{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 100px;
}

.banner-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 63px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 32px 0px;
}

.banner-button{
    width: 170px;
    padding: 10px 32px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background-color: #E55473;
    cursor: pointer;
    border: none;
}

.banner-image{
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.top-banner-image{
    width: 75%;
}


/* Featured Flowers Styles */

.flowers-container{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    height: 600px;
}

.flowers-content{
    text-align: center;
    width: 37%;
    margin: auto;
}

.flowers-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-top: 15px;
}

.flower-boxes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}

.flower-info{
    width: 30%;
}

.flower-1{
    width: 100%;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("/images/pngwing\ 6.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: bottom center;
}

.flower-2{
    width: 100%;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15); 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("/images/pngwing\ 5.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center center;
}

.flower-3{
    width: 100%;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("/images/pngwing\ 7.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: bottom center;
}

.flower-name{
    width: 100%;
    padding-top: 32px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
} 


/* Our services styles */
.Services{
    margin-top: 130px;
}

.services-container{
    width: 80%;
    height: 200px;
    margin: auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
}

.service{
    width: 33%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.service img{
    width: 64px;
    margin: 0px auto;
}

.service-details{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    padding-top: 20px;
}

/* Hot deals styles */
.hot-deal{
    width: 100%;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
}

.deal-wrapper{
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 60px 0px;
}

.deal-content{
    width: 50%;
    text-align: center;
}

.deal-content h2{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deal-content h2 span{
    color: #E55473;
}

.deal-content p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    width: 82%;
    margin: auto;
    font-weight: 400;
    padding-top: 14px;
    padding-bottom: 30px;
}


.deal-image{
    width: 50%;
    text-align: center;
}

.deal-image img{
    width: 45%;
}