/* Resetting */
*{
    margin: 0;
    padding: 0;
}

/* Main banner styles */
.main-banner{
    width: 100%;
    /* height: 400px; */
    background: rgba(229, 84, 115, 0.10);
}

.banner-container{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 100px;
}

.banner-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 63px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 32px 0px;
}

.banner-button{
    width: 170px;
    padding: 10px 32px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background-color: #E55473;
    cursor: pointer;
    border: none;
}

.banner-image{
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.top-banner-image{
    width: 75%;
}


